.icon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #f6f8fb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.active {
  background: #ffffff;
}
